body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#app {
    margin-top: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.note-a {
    fill: green !important;
    color: green !important;
}
.note-b {
    fill: red !important;
    color: red !important;
}
.note-c {
    fill: blue !important;
    color: blue !important;
}
.note-d {
    fill: orange !important;
    color: orange !important;
}
.note-e {
    fill: fuchsia !important;
    color: fuchsia !important;
}
.note-f {
    fill: yellow !important;
    color: yellow !important;
}
.note-g {
    fill: brown !important;
    color: brown !important;
}
