body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#app {
    margin-top: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

g.notehead {
    fill: green !important;
    color: green !important;
}
