.score-container {
    width: min-content;
    overflow-x: hidden;
    row-gap: 64px;
    background-color: var(--card-background);
}

.player {
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;
    max-width: 100dvw;
}

.score {
    animation-duration: 35s;
    will-change: transform;
    position: relative;
}

.panel-body::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 99%;
    width: 19.5%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
}

.panel-body::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    left: 19.5%;
    opacity: 0.5;
}

.panel {
    transform: translateX(-1%);
}

.panel * {
    background-color: #ffffff;
    /* max-height: 80dvh; */
}


.note-a {
    fill: #614FA6;
}

.note-b {
    fill: #E12B99;
}

.note-c {
    fill: #F70043;
}

.note-c-higher {
    fill: #D70000;
}

.note-d {
    fill: #FF9700;
}

.note-e {
    fill: #FDF216;
}

.note-f {
    fill: #B5D946;
}

.note-g {
    fill: #009F96;
}