.score-container {
    width: min-content;
    overflow-x: hidden;
    row-gap: 32px;
    background-color: var(--card-background);
}

.player {
    position: relative;
    background-color: #ffffff;

}

.panel-body {
    position: relative;
}

.panel-body::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: calc(100% - 16px);
    width: 15.5%;
    top: 16px;
    /* transform: translateY(-50%); */
    left: 0;
    z-index: 10;
}

.panel-body::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: calc(100% - 16px);
    width: 0.5rem;
    top: 16px;
    /* transform: translateY(-50%); */
    left: 15.5%;
    opacity: 0.75;
}

.panel {
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;
    max-width: 100dvw;
}

.panel * {
    background-color: #ffffff;
}


.note-a {
    fill: #614FA6;
}

.note-b {
    fill: #E12B99;
}

.note-c {
    fill: #F70043;
}

.note-c-higher {
    fill: #D70000;
}

.note-d {
    fill: #FF9700;
}

.note-e {
    fill: #FDF216;
}

.note-f {
    fill: #B5D946;
}

.note-g {
    fill: #009F96;
}


.head-content {
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.return{
    color: var(--black);
}

.progress-bar-container {
    width: 90%;
    position: relative;
    height: 6px;
    background-color: #eee;
    border-radius: 4px;
    overflow: hidden;
    z-index: 11;
    margin: 16px auto;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: var(--black);
    transition: width 0.1s linear;
    border-radius: 4px 0 0 4px;
}