.score-container {
    width: min-content;
    overflow-x: hidden;
}

.player {
    overflow-x: scroll;
    position: relative;
    max-width: 100dvw;
}

.score {
    animation-duration: 35s;
    will-change: transform;
    position: relative;
}

.panel-body::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 75%;
    width: 19.5%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 10;
}

.panel-body::after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 75%;
    width: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    left: 19.5%;
}

.panel * {
    background-color: #ffffff;
}


.note-a {
    fill: #614FA6;
}

.note-b {
    fill: #E12B99;
}

.note-c {
    fill: #F70043;
}

.note-c-higher {
    fill: #D70000;
}

.note-d {
    fill: #FF9700;
}

.note-e {
    fill: #FDF216;
}

.note-f {
    fill: #B5D946;
}

.note-g {
    fill: #009F96;
}



/* ??????????????????????????????????///////////////////////////////////??????????????????????????????????? */

.play {
    color: black;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
}