@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Tilt Wrap";
  src: url(/fonts/Tilt_Warp/TiltWarp-Regular-VariableFont_XROT\,YROT.ttf);
}

:root {
  --light-white: #F9F9F9;
  --medium-white: #FFFEF1;
  --light-grey: #D9D9D9;
  --medium-grey: #535353;
  --black: #000000;
  --card-background: #F5F2ED;
  --card-background-hover: hsl(37, 49%, 85%);
  --tag-classic: #FF70C6;
  --tag-rock: #90BE6D;
  --tag-rap: #F19737;
  --tag-pop: #49A7F0;
  --tag-movie: #FFD857;
  --tag-electro: #61D0C3;
  --tag-jazz: #FC9191;
  --tag-reggae: #9C83ED;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--light-white);
  color: var(--black);
  font-family: Arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
}

.tac{
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Tilt Wrap", Arial, sans-serif;
  text-align: left;
}

h1 {
  font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1728 - 320)));
}

h2 {
  font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1728 - 320)));
}

.regular{
  font-weight: 400;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 128px 5.2%;
}
.container.score-container{
  padding: 32px 0;
}

.img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.primary-button {
  color: var(--light-white);
  background-color: var(--black);
  padding: 16px 32px;
  border-radius: 80px;
  cursor: pointer;
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1728 - 320)));
  font-weight: 500;
  transition: 0.2s ease-in;
  border: 2px solid var(--black);
}

.primary-button:hover {
  background-color: transparent;
  color: var(--black);
}

.gc-full {
  grid-column: 1/13;
}

@media screen and (min-width:860px) {

  .gc-md-1-7 {
    grid-column: 1/7;
  }

  .gc-md-7-13 {
    grid-column: 7/13;
  }

}

/*Padding*/
.p-b-4 {
  padding-bottom: 4px;
}

.p-b-8 {
  padding-bottom: 8px;
}

.p-b-16 {
  padding-bottom: 16px;
}

/* Margin */
.m-b-4 {
  margin-bottom: 4px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-b-16 {
  margin-bottom: 16px;
}
