<head>
    <link rel="stylesheet" href="/styles/hero.css">
</head>

<section class="hero container">
    <h1 class="gc-full logo">
        INCLU'ZIK
        <div class="img-container logo-img">
            <img src="/images/music_note_hero.png" alt="Icône de note de musique" width="66" height="66" />
        </div>
    </h1>
    <div class="gc-full">
        <p class="presentation">
            Inclu'zik met à votre disposition une vaste bibliothèque de partitions colorées pour faciliter votre
            apprentissage musical. Choisissez la musique qui vous inspire !
        </p>
    </div>
</section>