<section class="container card-container">
  <h2 class="gc-full p-b-16">Bibliothèque</h2>
  <ul class="gc-full score-list">
    {% for score in collections.scores %}
    <li class="gc-full">
      <a href="{{ score.url }}">
        <article class="card bgc-card">
          <div class="play-tag">
            <img width="100" height="100" src="/images/score_example.png" alt="Illustration de partition coloré" />
          </div>
          <div class="score-info">
            <h2 class="p-b-8 gc-full regular">{{ score.data.title }}</h2>
            <p class="p-b-16 gc-full">{{ score.data.author }}</p>
            <p class="tag m-b-16 gc-full">{{ score.data.style }}</p>
          </div>
        </article>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>