.hero{
    row-gap: 32px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    font-size: calc(40px + (96 - 40) * ((100vw - 320px) / (1728 - 320)));
}

.logo-img{
    max-width:66px;
}

.logo-img img{
    max-width:100%;
}

.presentation{
    font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1728 - 320)));
    font-family: "Tilt Wrap";
    font-weight: 400;
    line-height: 140%;
}