.card-container {
    row-gap: 32px;
}

.card {
    gap: 32px;
    display: flex;
    padding: 16px 32px;
    min-width: min-content;
    align-items: center;
    color: var(--black);
}

.bgc-card {
    background-color: var(--card-background);
    transition: 0.2s ease-in;
}

.bgc-card:hover {
    background-color: var(--card-background-hover);
}

.play-tag {
    text-align: left;
    align-content: center;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-info {
    text-align: left;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.tag {
    width: fit-content;
    padding: 8px 16px;
    border-radius: 200px;
    font-weight: 400;
    background-color: var(--light-grey);
    color: var(--white);
    text-transform: capitalize;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 7.5%;
}